* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.top {
    position: relative;
    overflow: hidden;
}

.header {
    min-height: 75px;
    background: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header__checkbox {
    position: absolute;
    visibility: hidden;
    left: -9999999px;
}

.header__checkbox:checked~.mobile-menu {
    right: 0;
}

.mobile-menu {
    position: absolute;
    top: 75px;
    right: -232px;
    z-index: 1;
    transition: right 0.6s;
    width: 232px;
    background: #FFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    box-sizing: border-box;
}


.mobile-menu__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.mobile-menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.mobile-menu__link:hover {
    color: #F16D7F;
}

.mobile-menu__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.mobile-menu__list {
    list-style-type: none;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-top: 12px;

}

.mobile-menu__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 24px;
}

.promo {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
}

.promo__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: normal;
    color: #222;
}

.promo__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: normal;
    color: #222;
}

.promo__fasion {
    color: #F16D7F;
}

.promo__content {
    padding-left: 2vw;
}

.sale {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__item {
    position: relative;
}

.shadow {
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.shadow__big {
    height: 100%;
}

.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale__item__big {
    min-height: 180px;
    grid-column: 1 / -1;
    background-image: url(img/sibig.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-box {
    padding-bottom: 95px;
}

.sale__text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    text-align: center;
}

.sale__heading {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.product-box__heading {
    color: #222;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    text-align: center;
    margin-bottom: 6px;
}

.product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #9F9F9F;
    padding-bottom: 48px;
}

.product-box__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
}

.product {
    position: relative;
}

.product:hover .product__img {
    filter: brightness(0.5);
}

.product:hover .product__add {
    display: flex;
}

.product__img {
    width: 100%;
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #FFF;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #FFF;
}

.product__add:hover {
    box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
    fill: #F16D7F;
}

.product__content {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    gap: 16px;
}

.product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    color: #000;
}

.product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    color: #5D5D5D;
}

.product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #F16D7F;
}

.advantages {
    background-color: #222;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.advantages__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.advantages__heading {
    color: #FBFBFB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advantages__text {
    color: #FBFBFB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button-red{
    padding-top: 48px;
    text-align: center;
}

.button__products {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border: 1px solid #F26376;
    text-align: center;
    width: 212px;
    padding: 15px 39px;
    margin: 0 auto;
}

.button__products:hover {
    color: #fff;
    background-color: #F26376;

}

@media(max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .promo__title {
        font-size: 44px;
    }

    .promo__heading {
        font-size: 24px;
    }

    .sale {
        gap: 20px;
    }

    .advantages{
        padding-top: 46px;
        padding-bottom: 64px;
    }

}



@media(max-width: 375px) {
    .header__link-site {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
    }

    .promo {
        min-height: 363px;
        justify-content: center;
    }

    .promo__img {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
    }

    .promo__title {
        font-size: 38px;
    }

    .promo__heading {
        font-size: 20px;
    }

    .sale {
        grid-template-columns: repeat(1, 1fr);
    }

    .sale__item__big {
        min-height: 111px;
    }

    .sale__text {
        font-size: 16px;
    }

    .sale__heading {
        font-size: 24px;
    }

}