* {
    margin: 0;
    padding: 0;
}

.top {
    padding-bottom: 96px;
}

.header {
    padding-top: 40px;
    padding-bottom: 84px;
}

.top__content {
    padding-bottom: 162px;
}

.title {
    margin-top: 1.29px;
    margin-bottom: 17px;
}

.top__buttons {
    margin-top:37px;
}

.video {
    margin-top: 15px;
}

.top__logos {
    padding-top: 97px;
}