* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #020A18;
}

.top {
    padding-bottom: 99px;
}

.header {
    margin-bottom: 160px;
}

.container {
    margin: 0 auto;
    width: 1147px;
}

.nav {
    display: flex;
    justify-content: center;
}

.header-link {
    padding: 40px 16px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s;
}

.header-link:hover {
    color: #3A68B8;
}

.header-link:active {
    transform: scale(1.2);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main {
    margin-bottom: 200px;
}

.main-left {
    width: 53%;
}

.main-right {
    display: flex;
    justify-content: end;
}

.main-left__heading {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}

.dsc__big {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 50px;
    opacity: 0.7;
    padding-right: 46px;
}

.btn {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid transparent;
}

.btn:hover {
    color: #3A68B8;
    background-color: #fff;
    border: 2px solid #3A68B8;
}

.fa-play {
    font-size: 20px;
    margin-right: 10px;
}

.learn {
    padding-top: 157px;
    padding-bottom: 264px;
}

.learn-right {
    padding-top: 117px;
    width: 42%;
}

.subtitle {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.learn-left__subtitle {
    margin-bottom: 30px;
}

.dsc__small {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.learn-right__dsc {
    padding-right: 24px;
    margin-bottom: 50px;
}

.content {
    padding-bottom: 243px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    gap: 30px;
    justify-content: center;
}

.item {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.content_subtitle {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}

.item__text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.about {
    padding-bottom: 221px;
}

.about-left {
    width: 47%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.about-right {
    display: flex;
    justify-content: flex-end;
}

.about-left__subtitle {
    margin-bottom: 40px;
}

.discriptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 88px;
}

.footer {
    padding-top: 48px;
    padding-bottom: 46.11px;
}

.footer__heading {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.contacts__text {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about_big_text {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
    padding-right: 100.64px;
}

.about__site__address {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-item {
    display: flex;
    gap: 10px;
}

.about__social {
    display: flex;
    gap: 24px;
}